/* Base */
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-color: #000000e6;
    font-family: Sans;
    overflow: hidden;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 60px calc(100vh - 60px);
}
@font-face {
    font-family: Sans;
    src: url(../ASSETS/FONT/ProductSans-Regular.ttf);
}
@font-face {
    font-family: Sans_Black;
    src: url(../ASSETS/FONT/OpenSans-ExtraBold.ttf);
}
/* Header */
.header{
    display: flex;
}
.header-item1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header-item2{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-form__select{
    height: 39px;
    text-align: center;
    border: none;
}
.header-item1-icon{
    width: 100px;
}
.icon:hover{
    cursor: pointer;
}
.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Menu */
.menu-icon{
    width: 40px;
    height: 60px;
}
.menu{
    color: white;
}
.menu-item{
    margin: 6px 0 6px 0;
    padding: 6px 0 6px 0;
    height: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.menu-item:hover{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    cursor: pointer;
}
.menu-item:active{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    background-color: #3535357e;
    cursor: pointer;
}
.item__icon{
    margin-left: 12px;
    margin-right: 6px;
}
.icon{
    width: 30px;
    color: white;
}
/* Content */
.content-database{
    width: 99%;
    overflow-y: auto;
    overflow-x: hidden;
}
.database-space{
    margin-left: 18px;
    background: white;
    margin-right: 18px;
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
}
.content-header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header-text{
    margin: 12px;
    font-family: Sans_Black;
    font-size: 30px;
}
/* Search wrapper */
.search-space{
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
/* Search Button */
.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(112, 112, 112, 0.11);
	color: rgb(255, 255, 255);
}
.database-search {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
}
.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.searchbutton {
    border-radius: 6px;
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}
.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(112, 112, 112, 0.11);
	color: rgb(0, 0, 0);
}
.search {
    font-family: Sans; 
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: rgba(112, 112, 112, 0.11);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
}
.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}
.expandright:focus {
	padding: 0 0 0 16px;
}
/* Content Button */
.content-table{
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
}
table {
    border:none;
    border-collapse: collapse;
}
th {
    font-size: 10px;
    padding: 10px;
    text-align: center;
}
.content-table tbody tr{
    border-bottom: thin solid;
}
.content-table thead tr th{
    background-color: #00000010;
}
.content{
    background-color: #ffffffe0;
    color: #000000;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.database{
    max-height: 87%;
    width: 100%;
}
.database-button{
    display: flex;
    justify-content: center;
    margin: 12px;
    align-items: center;
    height: 30px;
    width: 20%;
    background-color: #188503;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}
.database-button:hover{
    border-radius: 8px;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
    cursor: pointer;
}
.database-button:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
    cursor: pointer;
}
.database-button__active{
    margin-right: 12px;
}
/* Content Button */
.content-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 11%;
}
.totalpage{
    margin-left: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.next-page{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 8px 16px;
}
.pagination{
    margin-right: 4px;
}
.pagination select{
    width: 200px;
    border-radius: 4px;
    height: 25px;
    text-align: center;
}
.next{
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    padding: 0 6px;
    border: solid thin;
    border-color: white;
    display: flex;
}
.next:hover{
    background-color: rgba(235, 235, 235, 0.74);
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    border-color: #0000005e;
    cursor: pointer;
}
.next:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    background-color: #c9c9c991;
    cursor: pointer;
}
.skip{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: solid thin;
    border-color: white;
    margin: 0 3px;
    padding: 2px 6px;
}
.skip-max{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: solid thin;
    border-color: white;
    margin: 0 3px;
    padding: 4px;
}
.skip-max:hover{
    background-color: rgba(235, 235, 235, 0.74);
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    border-color: #0000005e;
    border: solid thin;
    cursor: pointer;
}
.skip-max:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    background-color: #c9c9c991;
    cursor: pointer;
}
.skip:hover{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    background-color: rgba(235, 235, 235, 0.74);
    border-color: #0000005e;
    border: solid thin;
    cursor: pointer;
}
.skip:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    background-color: #c9c9c991;
    cursor: pointer;
}
/* Dialog Wrapper */
.dialog{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.dialog-new-character{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 90vh;
    left: 50%;
    top: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: hidden;
}
.dialog-database__header{
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
}
.dialog-database__head-text{
    font-size: larger;
    font-family: Sans_Black;
}
.container-container{
    display: flex;
    align-items:center;
}
.container-checkbox{
    display: flex;
    flex-direction: row-reverse;
}
.checkbox{
    margin-left: 12px;
    margin-right: 6px;
}
.radio{
    margin-left: 12px;
}
.gender-box{
    height: 30px;
    align-items: baseline;
}
input[type="radio"]{
    accent-color: green;
    transform: scale(1.8);
}
.gender-label{
    margin-right: 6px;
    margin-left: 12px;
}
.dialog-database__content{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: #000000;
    flex-direction: column;
}
.dialog-close__button{
    position: absolute;
    top: 0%;
    right: 0%;
    padding:2px 6px;
}
.row{
    display: flex;
    height: 100%;
}
.col{
    display: flex;
    flex-direction: column;
    padding-right: 6px;
}
.col-head{
    display: flex;
    flex-direction: column;
}
.col-space{
    display: flex;
    justify-content: space-between;
}
.col-head{
    padding-left: 24px;
}
.col-below{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 6px 6px 6px 25px;
}
.dialog-form__head{
    font-size: small;
    font-family: 'Sans_Black';
    display: flex;
    padding-bottom: 6px;
    padding-top: 6px;
    justify-content: flex-start;
}
.dialog-form__input{
    height: 35px;
    border: thin solid;
    text-align: center;
}
.dialog-database__input{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}
.dialog-database__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.719);
    padding: 14px;
}
.cancel{
    font-family: Sans_Black;
    background-color: rgba(255, 255, 255, 0);
    font-size: 13px;
    margin: 6px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    border: none;
}
.cancel:hover{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgb(0, 0, 0);
	color: rgb(253, 253, 253);
}
.cancel:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
}
.save{
    font-family: Sans_Black;
    background-color: #019160;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}
.save:hover{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    background-color: #2FBE8E;
}
.save:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    background-color: #01B075;
}
.save i{
    margin-right: 6px;
}
.dialog-form__select{
    border-radius: 6px;
    width: 206px;
    height: 39px;
    border: thin solid;
    text-align: center;
}
.dialog-form__input:hover{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    border: solid thin  #cfcccc;
}
.dialog-form__select:hover{
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    border: solid thin  #cfcccc;
}
.input-error{
    border: solid thin  #ff0000;
}
/* Dialog Error */
.dialog-error{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 20vh;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.dialog-error__header{
    font-family: Sans_Black;
    font-size: larger;
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.dialog-error__content{
    flex: 1;
    background-color: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-error__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(255, 255, 255);
    padding: 14px;
    height: 20px;
}
.error-cancel{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-family: Sans_Black;
    font-size: 13px;
    margin: 6px;
    width: 100px;
    height: 40px;
    border: none;
}
.error-cancel:hover{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(104, 102, 102, 0.767);
	color: rgb(0, 0, 0);
}
.error-cancel:active{
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
/* Dialog Delete */
.dialog-del{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 20vh;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.dialog-del__header{
    font-family: Sans_Black;
    font-size: larger;
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.dialog-del__content{
    flex: 1;
    background-color: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-del__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 14px;
    height: 20px;
}
.header-form__select{
    height: 39px;
    text-align: center;
    border: none;
}
.header-item1-icon{
    width: 100px;
}
/* Dropdown Menu */
.dropdown{
    position: relative;
    min-width: 160px;
    max-height: 10px;
    display: inline-block;
}
.drop-interact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #003d83;
}
.dropdown-content{
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    overflow: visible;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    color: green;
}
.dropdown-text{
    margin: 0 6px 0 6px;
}
.dropdown-text:hover{
    cursor: pointer;
}
.dropbtn:hover{
    cursor: pointer;
}
/* Miscellaneous */
.hide {display: none;}

.bold{
    font-family: Sans_Black;
    margin: 0 4px
}
.red{
    color: #ff0000;
}